table{
    width: 70%;
}
table,th,tr,td{
    border-collapse: collapse;
    border-bottom: 2px solid #051b00;
    margin: auto;
    text-align: left;
}
table thead th {
    color: #fff;
    background-color: #002109;
    padding: .75rem;
}
span{
    display: block;
    width: 75%;
    height: 3px;
    background-image: linear-gradient( -93.1deg,  rgba(238,254,183,1) -19.1%, rgba(169,254,222,1) -53.9%, rgba(90,222,255,1) 92% );
    margin: auto;
}
h2{
    color: #fff!important;
}