
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}


/* FOR DROP DOWN MENU */
.dropbtn {
    background-color: #fff;
    color: rgb(36, 36, 36);
    padding: 10px 18px;
    font-size: 20px;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.dropdown {
    position: relative;
    width: 20%;
    display: inline-block;
    /* float: right; */
    justify-content: end;
    align-items: end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    right: 4%!important;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:focus-within .dropdown-content {
    display: block;
}
.dropdown:focus-within .dropbtn {
    background-color: #ddd;
}
/* END OF DROP DOWN */

/* DASHBOARD HEADER */
.textarea h4{
    margin: 0;
    font-size: 28px;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}
.textarea p{
    margin: 0%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
.header-row{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: rgb(243, 243, 243);
    padding: 25px;
    position: relative;
}
.title-header{
    background-color: transparent!important;
    border-bottom: 2px solid rgba(0, 0, 0,0.1);
    padding-top: 0px;
}
.title-header-main{
    padding-bottom: 0px!important;
}
.content-holder{
    display: flex;
    align-items: center;
    width: 72%;
    float: right;
    justify-content: end;
    justify-content: flex-end;
}
.search-area{
    width: 55%;
}
.form_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: block;
}
.search-area p{
    display: inline;
    font-weight: 600;
    margin-right: 20px;
}
.border-span{
    width: 2px;
    height: 80%;
    display: block;
    background-color: rgb(97, 97, 97);
    margin: auto 25px;
    opacity: 0.5;
}
.btn{
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
/* DASHBOARD HEADER END */


.rmv-pad{
    /* padding: 0px!important; */
    margin: 0px!important;
}
.dashboard_controller{
    /* width: 15%!important; */
    overflow: hidden;
}
.main{
    flex: 1;
    display: flex;
    z-index: 8;
    position: relative;
}
.main .fixed-area{
    background-color: rgb(16 25 0);
    width: 24%;
    height: auto;
    z-index: 14;
    border-radius: 0px;
    padding: 0px;
    color: white;
    box-shadow: 0px 0px 12px 0px #00000026;
}
.main .textarea{
    width: 76%;

}
.content-area{
    padding: 25px 0px;
    padding-right: 25px;
    position: relative;
}
.scrollable-area{
    flex: 1;
    flex-direction: column;
    display: flex;
    z-index: 12;
    padding: 0 0 0 calc((20px) + 340px);
    transition: all .2s;
    /* height: 1500px!important; */
}
.scrollbar {
    
    overflow: auto; 
}
.heading-area{
    padding: 15px;
    background-color: rgb(24 26 31);
    border-bottom: 2px solid rgb(199, 199, 199);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.logoimg{
    width: 50%!important;
}
.menu-list ul{
    list-style: none;
}
.menu-list ul li{
    padding: 0px;
    margin: 30px 0px;
}
.menu-list ul li a{
    color: black;
    text-decoration: none;
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    position: relative;
    color: white;
}
.menu-list ul li .menu-title{
    font-weight: 600;
    color: white;
}

.menu-list ul li a:hover{
    color: #39582d;
    list-style: disc;
    background-color:aliceblue;
}
.submenu-ul{
    padding-left: 20px!important;
}


/* HMS REPORT AREA */
.reports-area{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.report-box{
    width: 24%;
}
.report-box h6{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.report-box p{
    margin: 0;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.report{
    display: block!important;
    margin-top: 20px;
}
.report_tableView{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.tableView{
    width: 49%;
}
/*  */
.sales-report{
    padding: 20px 0px;
    padding-right: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
}
.sales-info{
    width: 16%!important;
    padding: 30px;
    border: 1px solid greenyellow;
    border-bottom: 4px solid greenyellow;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.sales-info p span{
    background-image: none!important;
    display: inline;
}
.sales-info p{
    font-size: 23px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}
.sales-info p .amount{
    font-size: 34px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
}

.tableData{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.tbody_des{
    padding: 10px 10px;
    border: none;
    border-collapse: collapse;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.btn_view{
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    background-color: #293331;
    color: white;
    float: right;
}
.btn_view:hover{
    background-color: #2e4d46;
}


/* Search Fields */
.input_des{
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    background-color: transparent;
    color: rgb(32, 32, 32);
    border: none;
    border: 1px solid rgba(29, 29, 29, 0.219);
}
.btn_search:hover{
    background-color: #498f61;
    color: white;
    transition: 0.4s all ease-in-out;
}

.search_result{
    display: none;
    height: auto;
    position: absolute;
    z-index: 999;
    /* border: 1px solid black; */
    /* padding: 15px 0px; */
    background-color: rgb(245 ,250 ,255);
    box-shadow: 0px 2px 2px 0px #00000082;
}
#search_box{
    width: auto;
}
.search_data{
    padding: 15px 10px;
    margin: 0px;
    margin-right: 0px!important;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    display: block!important;
    cursor: pointer;
}
.search_data:hover{
    background-color: #42495a;
    color: white;
}
.search_data:active{
    background-color: #212738;
}

.title_amount{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.dashData{
    padding: 19px 0px;
    text-align: center;
}
.dashDataTh{
    text-align: center;
}
.hg{
    font-family: Comic Sans MS;
    background-color: lightblue;
    min-height: 30vh;
    align-items: center;
    display: flex;
}
.banner-content{
    text-align: center;
    margin: auto;
    width: 30%;
}
.banner-content h1 {
    font-size: 46px;
    font-weight: 700;
    color: white;
    margin: 0px;
}

.banner-content h1 span{
    color: #fff;
}

.banner-content p {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
}